body{
    font-family: "Shadows Into Light", cursive;
    background-color:#081826;
    
}

.rocket{
    font-size:35px;
}

main{
    width:40%;
    margin:auto;
    background-color: #152C40;
    padding:15px;
    color:white;
    border-radius: 10px;
}

main h1{
    text-align: center;
}

div {
    padding: 15px;
    margin: 15px;
    border-radius:10px;
}

img {
    border-radius: 10px;
    width:30%;
    border-radius: 10px; /* Optional: rounds the corners of the image */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.4), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 80px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.artifact-card{
    display:flex;
    justify-content: space-between;
    background-color: #2C4459;
    cursor:pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    margin:0;
    border-radius:0;
    background-color: #000000e6; 
}


.modal-content {
    background-color: #2C4459;
    margin: 5% auto; 
    padding: 20px;
    border-radius: 15px;
    width: 95%; 
    max-width: 1200px; /* Increased max width */
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3); /* Box shadow for aesthetics */
}

#modalBigDiv{
    font-size: 20pt;
    display:flex;
    justify-content:space-between;
}

#modalBigDiv img{
    width:30%;
}
#modalBigDiv div{
    width:60%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2{
    text-align:center;
}

.artifact-card:hover {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.7), 0 0 50px rgba(255, 255, 255, 0.6), 0 0 80px rgba(255, 255, 255, 0.5), 0 0 100px rgba(255, 255, 255, 0.4);
}

.text-card{
    width:60%;
    text-align:center;
}

#commentInput{
    margin:auto;
    width: 55%;
    text-align:center;
}

#commentDisplay{
    margin:auto;
    width:40%;
    max-height: 300px; /* Set the height for the scrollable area */
    overflow-y: auto; /* Scrollbar appears only when needed */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    border: 1px solid #ccc; /* Optional: border for better visibility */
    padding: 10px; /* Optional: padding for spacing */
}

#commentList{
    width:100%;

}

#commentText{
    background-color: white;
    width: 50%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

#commentName{
    width: 50%;
    background-color: white;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    height:30px;
}

button{
    border: none;
    padding: 10px 15px;
    text-align: center;
    font-weight:bold;
    border-radius:5px;
    display: inline-block;
    font-size: 12px;
    margin:10px;
}

#commentSection{
    font-family: "Lora", serif;
    display:flex;
    justify-content: space-between;
}

